body {
  margin: 0;
  padding: 0;
}

#texto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh;
  background-color: #121212;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}

#jugadores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

#jugadores div {
  justify-content: center;
  border: solid 2px black;
  border-radius: 5px;
  margin: 0.9rem;
  padding: 10px;
  cursor: pointer;
  transition: 300ms ease-out;
}

#jugadores .obtenidos {
  filter: grayscale(0);
  background-color: lightblue;
}

.arquero,
.defensor,
.mediocampista,
.delantero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;

}

.obtenidos:hover {
  transform: scale(1.2);
  transition: 300ms ease-out;
}

.arquero .Goalkeeper {
  grid-row: 1/1;
  opacity: 0.5;
  filter: grayscale(100%);
}

.arquero .obtenidos {
  filter: grayscale(0);
  opacity: 1;
}

.defensor .Defender {
  grid-row: 2/2;
  opacity: 0.5;
  filter: grayscale(100%);
}

.defensor .obtenidos {
  filter: grayscale(0);
  opacity: 1;
}

.mediocampista .Midfielder {
  grid-row: 3/3;
  opacity: 0.5;
  filter: grayscale(100%);
}

.mediocampista .obtenidos {
  filter: grayscale(0);
  opacity: 1;
}

.delantero .Attacker {
  grid-row: 4/4;
  opacity: 0.5;
  filter: grayscale(100%);
}

.delantero .obtenidos {
  filter: grayscale(0);
  opacity: 1;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  margin: auto;
}

#volver {
  position: sticky;
  background-color: rgb(22, 48, 165);
  color: rgb(248, 248, 248);
  font-size: 30px;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#explicacion { 
  display: flex;
  justify-content: center;
  background-color: rgb(93, 236, 247);
  color: #121212;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;

}

#clickeable{
  display: flex;
  justify-content: center;
  background-color: rgb(93, 236, 247);
  color: #121212;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;

}

#grupos {
  display: flex;
  justify-content: center;
}

#grupoA,
#grupoB,
#grupoC,
#grupoD,
#grupoE,
#grupoF,
#grupoG,
#grupoH {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 10px;
  border: 2px solid black;
  font-weight: bold;
}

/* EQUIPOS */
/*GRUPO A */

#palmeiras {
  background-image: linear-gradient(to right, rgba(10, 163, 36, 0.8), rgba(255, 255, 255, 0.1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#emelec {
  background-image: linear-gradient(to right, rgba(4, 20, 243, 0.65), rgba(65, 65, 65, 0.2));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;

}
#tachira {
  background-image: linear-gradient(to right, rgba(224, 204, 24,1), rgba(0, 0, 0, 0.3));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#ipetrolero {
  background-image: linear-gradient(to right, rgb(255, 0, 0,0.1), rgba(255, 0, 0, 0.8));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/*GRUPO B */
#aparanaense {
  background-image: linear-gradient(to right, rgb(255, 0, 0,0.6), rgba(0, 0, 0, 0.3));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#libertad {
  background-image: linear-gradient(to right, rgb(0, 0, 0,0.5), rgba(255, 255, 255, 1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#caracas {
  background-image: linear-gradient(to right, rgb(255, 0, 0,0.5), rgba(0, 0, 0, 0.4));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#strongest {
  background-image: linear-gradient(to right, rgba(224, 204, 24,0.9), rgba(0, 0, 0, 0.5));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/*GRUPO C */
#nacional {
  background-image: linear-gradient(to right, rgb(0, 19, 255,0.5), rgba(255, 255, 255, 1),  rgba(255, 0, 0, 0.4));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#velez {
  background-image: linear-gradient(to right, rgb(0, 19, 255,0.3), rgba(255, 255, 255, 1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#bragantino {
  background-image: linear-gradient(to right, rgb(255, 255, 255,1), rgba(255, 0, 0, 0.2));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#estudiantes {
  background-image: linear-gradient(to right, rgba(255, 0, 0,0.5), rgba(255, 255, 255, 1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/*GRUPO D */
#mineiro {
  background-image: linear-gradient(to right, rgb(255, 255, 255, 1), rgba(255, 255, 255, 1),  rgba(0, 0, 0, 0.5));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#iDelValle {
  background-image: linear-gradient(to right, rgb(0, 19, 255,0.5), rgba(0, 0, 0, 0.4));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#tolima {
  background-image: linear-gradient(to right, rgb(221, 46, 46,0.6), rgb(240, 243, 50));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#aCali {
  background-image: linear-gradient(to right, rgba(255, 0, 0,0.5), rgba(255, 0, 0, 0.8));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/*GRUPO E */
#boca {
  background-image: linear-gradient(to right, rgb(93, 93, 255,0.6), rgb(247, 247, 50));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#corinthians {
  background-image: linear-gradient(to right,  rgba(255, 255, 255, 1),  rgba(0, 0, 0, 0.3));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#dCali {
  background-image: linear-gradient(to right, rgba(10, 163, 36, 0.7), rgba(255, 255, 255, 1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#always {
  background-image: linear-gradient(to right, rgba(255, 255, 255,1), rgba(255, 0, 0, 0.2));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/*GRUPO F */
#river {
  background-image: linear-gradient(
    135deg,
    white,
    white,
    red,
    white,
    white
  );
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#coloColo {
  background-image: linear-gradient(to right,  rgba(255, 255, 255, 1),  rgba(0, 0, 0, 0.1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#alianza {
  background-image: linear-gradient(to right, rgba(4, 71, 255, 0.5), rgba(255, 255, 255, 1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#fortaleza {
  background-image: linear-gradient(to right, rgb(0, 48, 207,0.4), rgba(255, 0, 0, 0.5));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/*GRUPO G */
#penarol {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgb(247, 247, 50));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#cerro {
  background-image: linear-gradient(to right, rgb(63, 20, 255,0.6), rgba(255, 0, 0, 0.4));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#colon {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(255, 0, 0,0.5));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#olimpia {
  background-image: linear-gradient(to right, rgba(255, 255, 255,1), rgba(0, 0, 0, 0.2));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

/*GRUPO H */
#flamengo {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgb(255, 0, 0,0.5));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#catolica {
  background-image: linear-gradient(to right, rgb(63, 20, 255,0.4), rgba(255, 255, 255, 1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#cristal {
  background-image: linear-gradient(to right, rgba(0, 195, 255, 0.4), rgba(255, 255, 255, 1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
#talleres {
  background-image: linear-gradient(to right, rgba(14, 18, 248, 0.5), rgba(255, 255, 255, 1));
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}
