body {
  margin: 0;
  padding: 0;
}

#jugadores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
 
}

#jugadores div {
  justify-content: center;
  border: solid 2px black;
  border-radius: 5px;
  margin: 0.9rem;
  cursor: pointer;
  transition: 300ms ease-out;
}

#jugadores div:hover {
  opacity: 1;
}

.arquero,
.defensor,
.mediocampista,
.delantero {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
  
}

.arquero {
  grid-row: 1/1;
  opacity: 0.5;
  filter: grayscale(100%);
}

.arquero:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.defensor {
  grid-row: 2/2;
  opacity: 0.5;
  filter: grayscale(100%);
}

.defensor:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.mediocampista {
  grid-row: 3/3;
  opacity: 0.5;
  filter: grayscale(100%);
}

.mediocampista:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.delantero {
  grid-row: 4/4;
  opacity: 0.5;
  filter: grayscale(100%);
}

.delantero:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  margin: auto;
}

/* EQUIPOS */

#river {
    background-image: linear-gradient(
    135deg,
    white,
    white,
    white,
    white,
    red,
    white,
    white,
    white,
    white
  );
  font-size: 20px;
}

#boca {
    background-image: linear-gradient(blue, yellow);
    font-size: 20px;

}